<!--Cria o cabeçalho da página-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        font-size: 25px;
    }

 .cabecalho 
	{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 20pt;
		color: #000000;
		text-align: center;
		border-bottom: 2px solid #000000;
        padding:5px 0px 5px 10px;
	border: 3px outset #ccc;
	}

    .link
        {
              text-decoration: none;
              justify-items: center;
        }
    

</style>
<body>
<header>
    
    <nav class="cabecalho">
        <h1>Meu Website 🌹</h1>
        <a href="#" class="link">Link 1 🔗</a>
        <a href="#" class="link">Link 2 🔗</a>
        <a href="#" class="link">Link 3 🔗</a>
    </nav>
</header>    
<main>
    {{{body}}} <!---->
</main>
</body>
</html>
